<content-header title="Dashboard" subtitle="Versão 1.0"></content-header>

<section class="content" ng-controller="DashboardController as ctrl">
  <div ng-include="'views/billing_cycles/_summary.html'"></div>
</section>
