<div class="box-body">
  <div class="row">
    <table class="table">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Valor</th>
          <th>Status</th>
          <th class="table-actions">Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="debt in ctrl.billingCycle.debts">
          <td>
            <input placeholder="Informe o Nome" class="form-control"
              ng-model="debt.name" ng-readonly="ctrl.tabDelete">
          </td>
          <td>
            <input placeholder="Valor" class="form-control" type="number"
              ng-change="ctrl.calculateValues()" ng-model="debt.value" ng-readonly="ctrl.tabDelete">
          </td>
          <td>
            <select class="form-control" ng-model="debt.status" ng-readonly="ctrl.tabDelete">
              <option value="">Selecione...</option>
              <option value="PAGO">PAGO</option>
              <option value="PENDENTE">PENDENTE</option>
              <option value="AGENDADO">AGENDADO</option>
            </select>
          </td>
          <td>
            <button class="btn btn-success" ng-click="ctrl.addDebt($index)" ng-disabled="ctrl.tabDelete">
              <i class="fa fa-plus"></i>
            </button>
            <button class="btn btn-warning" ng-click="ctrl.cloneDebt($index, debt)" ng-disabled="ctrl.tabDelete">
              <i class="fa fa-clone"></i>
            </button>
            <button class="btn btn-danger" ng-click="ctrl.deleteDebt($index)" ng-disabled="ctrl.tabDelete">
              <i class="fa fa-trash-o"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
