<div role="form">
  <div class="box-body">
    <div class="row">
      <field id="name" label="Nome" grid="12 4" placeholder="Informe o Nome"
        model="ctrl.billingCycle.name" readonly="ctrl.tabDelete"></field>
      <field id="month" label="Mês" grid="12 4" placeholder="Informe o Mês" type="number"
        model="ctrl.billingCycle.month" readonly="ctrl.tabDelete"></field>
      <field id="year" label="Ano" grid="12 4" placeholder="Informe o Ano" type="number"
        model="ctrl.billingCycle.year" readonly="ctrl.tabDelete"></field>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <fieldset>
          <legend>Resumo</legend>
          <div ng-include="'views/billing_cycles/_summary.html'"></div>
        </fieldset>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <fieldset>
          <legend>Créditos</legend>
          <div ng-include="'views/credits/_list.html'"></div>
        </fieldset>
      </div>

      <div class="col-xs-12 col-sm-6">
        <fieldset>
          <legend>Débitos</legend>
          <div ng-include="'views/debts/_list.html'"></div>
        </fieldset>
      </div>
    </div>
  </div>

  <div class="box-footer">
    <button class="btn btn-primary" ng-if="ctrl.tabCreate" ng-click="ctrl.create()">Adicionar</button>
    <button class="btn btn-info" ng-if="ctrl.tabUpdate" ng-click="ctrl.update()">Alterar</button>
    <button class="btn btn-danger" ng-if="ctrl.tabDelete" ng-click="ctrl.delete()">Excluir</button>
    <button class="btn btn-default" ng-click="ctrl.refresh()">Cancelar</button>
  </div>
</div>
