<div class="box-body">
  <table class="table">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Mês</th>
        <th>Ano</th>
        <th class="table-actions">Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="cycle in ctrl.billingCycles">
        <td>{{ cycle.name }}</td>
        <td>{{ cycle.month }}</td>
        <td>{{ cycle.year }}</td>
        <td>
          <button class="btn btn-warning" ng-click="ctrl.showTabUpdate(cycle)">
            <i class="fa fa-pencil"></i>
          </button>
          <button class="btn btn-danger" ng-click="ctrl.showTabDelete(cycle)">
            <i class="fa fa-trash-o"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="box-footer clearfix">
    <paginator url="/#!/billing_cycles" pages="{{ ctrl.pages }}"></paginator>
  </div>
</div>
