<div class="row">
  <value-box grid="12 4" color="green" value="{{ ctrl.credit | number: 2 }}" text="Total de créditos" icon="bank"></value-box>

  <value-box grid="12 4" color="orange" value="{{ ctrl.debt | number: 2 }}" text="Total de débitos" icon="credit-card"></value-box>

  <value-box grid="12 4" color="blue" value="{{ ctrl.total | number: 2 }}" text="Valor consolidado" icon="money"></value-box>
</div>
