<content-header title="Ciclo de pagamentos" subtitle="Cadastro"></content-header>

<section class="content" ng-controller="BillingCyclesController as ctrl">
  <div class="nav-tabs-custom">
    <ul class="nav nav-tabs">
      <li ng-if="ctrl.tabList" ng-class="{active: ctrl.tabList}">
        <a data-target="#tab-list" data-toggle="tab">
          <i class="fa fa-bars"></i> Lista
        </a>
      </li>
      <li ng-if="ctrl.tabCreate">
        <a data-target="#tab-create" data-toggle="tab">
          <i class="fa fa-plus"></i> Adicionar
        </a>
      </li>
      <li ng-if="ctrl.tabUpdate" ng-class="{active: ctrl.tabUpdate}">
        <a data-target="#tab-update" data-toggle="tab">
          <i class="fa fa-pencil"></i> Alterar
        </a>
      </li>
      <li ng-if="ctrl.tabDelete" ng-class="{active: ctrl.tabDelete}">
        <a data-target="#tab-delete" data-toggle="tab">
          <i class="fa fa-trash-o"></i> Apagar
        </a>
      </li>
    </ul>

    <div class="tab-content">
      <div class="tab-pane" id="tab-list" ng-include="'views/billing_cycles/_list.html'"
        ng-if="ctrl.tabList" ng-class="{active: ctrl.tabList}"></div>
      <div class="tab-pane" id="tab-create" ng-include="'views/billing_cycles/_form.html'"
        ng-if="ctrl.tabCreate"></div>
      <div class="tab-pane" id="tab-update" ng-include="'views/billing_cycles/_form.html'"
        ng-if="ctrl.tabUpdate" ng-class="{active: ctrl.tabUpdate}"></div>
      <div class="tab-pane" id="tab-delete" ng-include="'views/billing_cycles/_form.html'"
        ng-if="ctrl.tabDelete" ng-class="{active: ctrl.tabDelete}" ></div>
    </div>
  </div>
</section>
