<div class="box-body">
  <div class="row">
    <table class="table">
      <thead>
        <tr>
          <th class="col-sm-6">Nome</th>
          <th>Valor</th>
          <th class="table-actions">Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="credit in ctrl.billingCycle.credits">
          <td>
            <input placeholder="Informe o Nome" class="form-control"
              ng-model="credit.name" ng-readonly="ctrl.tabDelete">
          </td>
          <td>
            <input placeholder="Valor" class="form-control" type="number"
              ng-change="ctrl.calculateValues()" ng-model="credit.value" ng-readonly="ctrl.tabDelete">
          </td>
          <td>
            <button class="btn btn-success" ng-click="ctrl.addCredit($index)" ng-disabled="ctrl.tabDelete">
              <i class="fa fa-plus"></i>
            </button>
            <button class="btn btn-warning" ng-click="ctrl.cloneCredit($index, credit)" ng-disabled="ctrl.tabDelete">
              <i class="fa fa-clone"></i>
            </button>
            <button class="btn btn-danger" ng-click="ctrl.deleteCredit($index)" ng-disabled="ctrl.tabDelete">
              <i class="fa fa-trash-o"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
