<a href="/#" class="logo">
  <span class="logo-mini">AP<b>F</b></span>
  <span class="logo-lg">
    <i class="fa fa-leaf"></i>
    APP <b>Finance</b>
  </span>
</a>

<nav class="navbar navbar-static-top" ng-include="'/views/layouts/header/navbar/navbar.html'"></nav>
