<a href="" class="sidebar-toggle" data-toggle="offcanvas">
  <span class="sr-only">Toggle navigation</span>
</a>

<div class="navbar-custom-menu">
  <ul class="nav navbar-nav">
    <li class="dropdown user user-menu" ng-include="'/views/layouts/header/navbar/user.html'"
      ng-controller="AuthController as ctrl"></li>
  </ul>
</div>
