<a href class="dropdown-toggle" data-toggle="dropdown">
  <img src="/assets/images/user.jpg" class="user-image" alt="User Image">
  <span class="hidden-xs">{{:: ctrl.getUser().name }}</span>
</a>

<ul class="dropdown-menu">
  <!-- User image -->
  <li class="user-header">
    <img src="/assets/images/user.jpg" class="img-circle" alt="User Image">
    <p>
      {{:: ctrl.getUser().name }}
      <small>{{:: ctrl.getUser().email }}</small>
    </p>
  </li>

  <!-- Menu Footer-->
  <li class="user-footer">
    <div class="pull-right">
      <a href class="btn btn-default btn-flat" ng-click="ctrl.logout()">Sair</a>
    </div>
  </li>
</ul>
